* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-bottom: 1px solid #444;
}

#workspaces button {
  padding: 4px 10px;
  color: #aaa;
  margin: 3px;
  border-radius: 8px;
}

#workspaces button.active {
  background: #5e81ac;
  color: white;
}

#network.wifi,
#network.ethernet,
#network.linked {
  color: #ffffff;
}

#network.disconnected {
  color: #c51a1a;
}

#custom-power {
  padding: 0 10px;
  color: #FFFFFF;
  font-size: 20px;
}

#custom-arch-menu {
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
}

#custom-arch-menu:hover {
  color: #1d72db;
}

#custom-power:hover {
  color: #c51a1a;
}

#custom-weather {
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF", monospace;
    padding: 0 4px;
    font-size: 14px;
}

#custom-weather.weather-error {
    color: #c51a1a;;
}

#clock,
#network,
#bluetooth,
#pulseaudio,
#battery,
#cpu,
#memory,
#tray {
  padding: 0 10px;
}
