
window {
    margin: 0;
    background-color: #1a1a1a;
    border: 1px solid #FF7A00;
    border-radius: 10px;
}

#input {
    margin: 10px;
    padding: 8px;
    background-color: #000000;
    color: #FF7A00;
    border: 1px solid #FF7A00;
    border-radius: 5px;
    font-size: 16px;
}

#input:focus {
    border-color: #ff9e32;
}

#inner-box {
    background-color: #1a1a1a;
}

#outer-box {
    padding: 10px;
    background-color: #1a1a1a;
}

#scroll {
    background-color: #1a1a1a;
}

#img {
    margin-right: 8px;
}

#entry {
    padding: 7px;
    background-color: #1a1a1a;
    color: white;
}

#entry:selected {
    background-color: #113b88;
    color: black;
}

#text {
    color: white;
}
