
* {
    font-family: JetBrainsMono NF, monospace;
    font-size: 30px;
}

window {
    background-color: rgba(0, 0, 0, 0.75);
}

button {
    background-color: #1b1b1b;
    color: #000000;
    border-radius: 16px;
    border: 4px solid #FF7A00;
    padding: 18px 26px;
    margin: 12px;
    min-width: 260px;

    /* nice glow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/* 🔴 Shutdown = red border + red glow */
#shutdown {
    border-color: #f71414;
    border-radius: 60px;
}
#shutdown:hover {
    background-color: #f71313;
    color: #ffffff;
    box-shadow: 0 0 22px rgba(255, 25, 25, 0.9);
}

/* 🟠 Reboot = orange border + orange glow */
#reboot {
    border-color: #FF7A00;
    border-radius: 60px;
}
#reboot:hover {
    background-color: #FF7A00;
    color: #ffffff;
    box-shadow: 0 0 22px rgba(255, 122, 0, 0.9);
}

/* 🟡 Logout = yellow border + yellow glow */
#lock {
    border-color: #ffaa00;
    border-radius: 60px;
}
#lock:hover {
    background-color: #ffaa00;
    color: #ffffff;
    box-shadow: 0 0 22px rgba(224, 208, 174, 0.9);
}

button:focus {
    border-color: #ffb266;
}

/* grid layout */
#layout {
    margin: 40px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 60px;
    
}

