window {
    margin: 0px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgb(90, 24, 32);
    border-radius: 14px;
    width: 320px;
    border: 0;
}

#input {
    padding: 6px;
    margin-bottom: 8px;
    background: rgba(50,50,50,0.8);
    border-radius: 8px;
    font-size: 16px;
}

#entry {
    padding: 12px;
    margin: 4px;
    border-radius: 8px;
}

#entry:selected {
    background-color: rgba(255,255,255,0.15);
}

#text {
    color: white;
    font-size: 18px;
}
